<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Slim Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
